*{
    background-color: rgb(230, 104, 219);
}

.mates{
    height: 400px;
    width: 400px;
    margin-left: 300px;
}
.h1{
    font-size:xx-large;
    font-style: italic;
    background-color: rgb(119, 53, 103);
    margin-top: auto;
    color: beige;
} 